:root {
  color-scheme: light dark;
  scroll-behavior: smooth;

  /*
  I love this color scheme:
  Flexoki by Steph Ango https://stephango.com/flexoki
  */
  --flexoki-black:           #100F0F;
  --flexoki-paper:           #FFFCF0;
  --flexoki-blue-900:        #12253B;
}

body {
    margin: 0;
    font-family: system-ui, sans-serif;
    padding: 2rem 2rem 4rem;

    background-color: light-dark(var(--flexoki-paper), var(--flexoki-blue-900));
    color: light-dark(var(--flexoki-blue-900), var(--flexoki-paper));
}

body > header,
body > footer {
    text-align: center;
}

body > header {
    margin-bottom: 4rem;
}


:is(body > header, body > footer) ul {
    li { display: inline; }
    li + li::before { content: " • "; }

    a {
        font-weight: bold;
    }
}


h1 > div {
    font-size: 0.8em;
}

img {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 4/3;
    object-fit: cover;
    border: 1px solid CanvasText;
}

.items {
    display: grid;
    grid-template-columns: 1fr;  /* Default: mobile - single column */
    grid-gap: 1.5rem;
}

@media (min-width: 720px) { .items { grid-template-columns: repeat(2, 1fr); } }
@media (min-width: 960px) { .items { grid-template-columns: repeat(3, 1fr); }}

.items h2 {
  overflow:hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  max-width: 520px;
  ax-width: 24rem;
  width: 98%;
}

.items > div {
    margin-bottom: 2rem;
    position: relative;

    a {
        display: block;
        margin-bottom: 2rem;
        color: inherit;
    }
    a::before {
        position: absolute;
        top: 0;
        left: 0;
        content: " ";
        width: 100%;
        height: 100%;
        background-color: transparent;
        z-index: 1;
    }

    img {
        filter:saturate(0.3);
        transition: filter 0.3s;
    }

    &:hover,
    &:active,
    &:focus {
        img {
            filter: saturate(1);
        }
    }
}
