body {
    margin: 0;
    font-family: system-ui, sans-serif;
    padding: 2rem;
}

img {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 4/3;
    object-fit: cover;
    border: 1px solid CanvasText;
}

.items {
    display: grid;
    grid-template-columns: 1fr;  /* Default: mobile - single column */
    grid-gap: 1.5rem;
}

@media (min-width: 720px) { .items { grid-template-columns: repeat(2, 1fr); } }
@media (min-width: 960px) { .items { grid-template-columns: repeat(3, 1fr); }}

.items > div {
    margin-bottom: 2rem;
    position: relative;

    a {
        display: block;
        margin-bottom: 2rem;
        color: inherit;
    }
    a::before {
        position: absolute;
        top: 0;
        left: 0;
        content: " ";
        width: 100%;
        height: 100%;
        background-color: transparent;
        z-index: 1;
    }

    img {
        filter:saturate(0.3);
        transition: filter 0.3s;
    }

    &:hover,
    &:active,
    &:focus {
        img {
            filter: saturate(1);
        }
    }
}
